/* Reset some default styles for better consistency */
body, h2, label, input, button, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f3f3;
    color: #0f0202;
}

header {
    background-color: #333;
    color: #c91212;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px; /* Adjust the width of your logo as needed */
    height: auto;
    margin-left: 20px; /* Adjust the margin as needed */
}

nav ul {
    list-style: none;
    margin-right: 20px; /* Adjust the margin as needed */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #e40d0d;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    color: #0056b3;
}


main {
    text-align: left;
    padding: 20px;
}

.container {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin: 10px 0;
}

label {
    font-weight: bold;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #f01818;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    background-color: #918b8b;
    color: #fff;
    padding: 30px;
}
